{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "tabWidth": 4,
  "trailingComma": "none"
}
