name: Tests
on: push

jobs:
    java_tests:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the repository
              uses: actions/checkout@v2
            - name: Set up JDK 14
              uses: actions/setup-java@v2
              with:
                distribution: zulu
                java-package: jdk
                java-version: 14
            - name: "Install NodeJS"
              uses: actions/setup-node@v2
              with:
                node-version: "18"
            - name: "Install Node dependencies"
              run: npm install --force
            - name: Validate Gradle wrapper
              uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
            - name: Test with Gradle
              run: cd android && ./gradlew clean && ./gradlew :app:cleanTestDebugUnitTest :app:testDebugUnitTest
